.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 3em;
  padding-right: 3em;
  min-height: 85vh;
}

.about > h3 {
  background-color: var(--Purple);
  color: aliceblue;
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: larger;
}

.about > p {
  background-color: var(--Teal);
  color: #131313;
  padding: 3em;
  border-radius: 1em;
}
