.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.search-bar {
  padding: 1em;
  margin-right: 2em;
  min-width: 30vw;
  border-radius: 0.5em;
}

.community-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.community-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.link-item {
  max-width: 30vw;
  max-height: 40vh;
  border-radius: 1em;
  justify-content: space-evenly;
  background-color: var(--Blue);
  margin: 2em;
  padding: 1em;
  text-decoration: none;
  color: #131313;
}

.community-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
  max-height: 100vh;
  color: aliceblue;
}

.bg-img {
  min-width: 80vw;
  max-width: 80vw;
  min-height: 40vh;
  max-height: 40vh;
  margin-top: 3em;
  border: 5px solid aliceblue;
}

.comment-p {
  background-color: var(--Blue);
  border-radius: .5em;
  padding: .5em;
}

.comment-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}