.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    min-height: 100vh;
}

.contact>h3 {
    background-color: #e01d1d;
    padding: .5em;
    border-radius: .5em;
    font-size: larger;
}

.contact>p {
    background-color: aliceblue;
    color: #131313;
    padding: 3em;
    border-radius: 1em;
}