.home-container {
  min-height: 85vh;
}

.new-log-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-log {
  display: flex;
  flex-wrap: wrap;
  max-width: 45vw;
  max-height: 30vh;
  padding: 1em;
  border-radius: 1em;
  background-color: var(--Teal);
}

.new-log-container > h3 {
  color: #eeeeee;
  font-size: 2em;
}

.log-btn {
  background-color: var(--Purple);
  color: #303030;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  font-size: 1.2em;
  border: 0px;
}

.m-2 {
  margin: 0.5em;
}

.m-2 > label {
  margin-right: 1.5em;
}

.form-control-home {
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: var(--Teal);
  color: #202020;
  border: 0px;
}

.previous-logs {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.logs {
  background-color: var(--Teal);
  color: #131313;
  margin: 1em;
  padding: 1em;
  border-radius: 1em;
  max-width: 30vw;
  word-wrap: normal;
}

.view-maps {
  color: #131313;
}

.logs > img {
  margin-top: 1em;
  max-height: 22vh;
  max-width: 26vw;
}
