.landing {
  min-height: 85vh;
  min-width: 100vw;
  background-image: url("../images/beach.jpg");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  background-color: #e01d1d;
  padding: 0.5em;
  border-radius: 6%;
  text-decoration: none;
  font-size: 1.5em;
  color: aliceblue;
}

.link:hover {
  padding: 1rem;
  transition: 0.3s;
}

h3 {
  margin-bottom: 2rem;
}

.landing > .container {
  background-color: rgba(20, 20, 20, 0.4);
  color: aliceblue;
  padding: 4rem;
}
