.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  /* background-color: var(--Purple); */
  background-color: rgba(0, 0, 0, 0);
  color: #515050;
}

.item {
  margin: 0.5em;
  padding: 0.5em;
  text-decoration: none;
  color: #515050;
}

.item:hover {
  background-color: var(--Blue);
  color: aliceblue;
  border-radius: 6%;
  padding: 0.6em;
  transition: 0.3s;
}

.icon {
  color: #eeeeee;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  margin-right: 2em;
}