.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
  background-color: whitesmoke;
}

.item {
  margin: 0.5em;
  padding: 0.5em;
  text-decoration: none;
}

.item:hover {
  /* font-size: 1.1em; */
  background-color: #404040;
  color: aliceblue;
  border-radius: 6%;
  padding: 0.6em;
  transition: 0.3s;
}

.icon {
  font-size: 2rem;
  text-decoration: none;
  margin-right: 2em;
}
