.p-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  background-color: var(--Blue);
  color: #131313;
  min-width: 60vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-a {
  margin: 1em;
}

.btn:hover {
  background-color: var(--Orange);
}